.search-results {
  grid-area: list;
  padding: 3rem 0 2rem;
  display: flex;
  flex-direction: column;
  background-color: #f8fafc;
  border-right: 1px solid $color-grey-light-2;
}

.results {
  list-style: none;
  margin-bottom: 2.4rem;
}

.pagination {
  margin-top: auto;
  padding: 0 2.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;

  &__btn {
    &--prev {
      margin-right: auto;
    }

    &--next {
      margin-left: auto;
    }
  }
}

.copyright {
  color: $color-grey-dark-2;
  font-size: 1.15rem;
  padding: 0 3rem;
  margin-top: 3rem;
  line-height: 1.6;

  .twitter-link:link,
  .twitter-link:visited {
    color: $color-grey-dark-2;
    font-weight: 800;
  }
}